Package: com.gameboost.universal
Name: GameBoost Universal
Version: 3.1.0
Architecture: iphoneos-arm
Description: GameBoost and Enhance Graphic in a three-tab Liquid Glass overlay for UIKit and Metal games.
Maintainer: GameBoost
Author: GameBoost
Section: Tweaks
Depends: mobilesubstrate
